@model XEPR.Models.tblEmployee

@{
    ViewBag.Title = "Login";
}

<h2>Employee Login</h2>
<br />
<br />
@using (Html.BeginForm())
{ 
    
    @Html.ValidationSummary(true)
    <table>
        <tr>
            <td>WIN ID: </td>
            <td>
                @Html.EditorFor(model => model.EmpWinId)
               
            </td>
            <td>
                <input type="submit" value="Login" />
            </td>
        </tr>
        <tr>
            <td colspan="3" align="center">
                 @Html.ValidationMessageFor(model => model.EmpWinId)
            </td>
        </tr>
    </table>

}
