@{
    ViewBag.Title = "Home Page";
}
<h3>@ViewBag.Message</h3>
<div>
At Xerox, we strive to build a culture of high performance through goal alignment, coaching, monitoring, development planning and constant feedback. To prepare their teams for 2016, managers can:
</div>
<ol class="round">
    <li class="one">
       Begin year-end performance discussions. Ask your team to reflect on the past twelve months and consider their major accomplishments and progress against goals established earlier this year.
    </li>

    <li class="two">
        Establish and communicate goals. Share your own performance goals as soon as possible and encourage your team to do the same. We expect all employees to complete their goal plans by the end of January; keep in mind that you can modify your goal plan to adjust to business changes and align with team goals at any time.
    </li>

    <li class="three">
        Be the role model. Your actions and participation set an example. Complete reviews and planning activities early; advocate for others to do the same in staff meetings and 1:1 conversations
    </li>
</ol>
